services:
  # Analysis Node
  analysis:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.analysis
    container_name: analysis
    ports:
      - "50052:50052"
    tty: true
      
  # Aggregation Node
  aggregation:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.aggregation
    container_name: aggregation
    ports:
      - "50051:50051"
    depends_on:
      - analysis
    tty: true

  # Sensor Nodes
  airdata:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.airdata
    container_name: airdata
    ports:
      - "50060:50060"
    depends_on:
      - aggregation

  battery:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.battery
    container_name: battery
    ports:
      - "50061:50061"
    depends_on:
      - aggregation
      
  engine:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.engine
    container_name: engine
    ports:
      - "50062:50062"
    depends_on:
      - aggregation

  gps:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.gps
    container_name: gps
    ports:
      - "50063:50063"
    depends_on:
      - aggregation

  imu:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.imu
    container_name: imu
    ports:
      - "50064:50064"
    depends_on:
      - aggregation

  # Server Node
  server:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.server
    container_name: server
    ports:
      - "50053:50053"
    depends_on:
      - update
    volumes:
      - data:/data

  # Client Node
  client:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.client
    container_name: client
    tty: true
    stdin_open: true
    depends_on:
      - server

  # Update Node
  update:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.update
    container_name: update
    ports:
      - "50054:50054"
    depends_on:
      - aggregation
      - airdata
      - battery
      - engine
      - gps
    volumes:
      - data:/data

# networks:
  # drone-net:
    # driver: bridge

volumes:
    data: