services:
  airdata:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.airdata
    profiles: ["distributed"]

  battery:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.battery
    profiles: ["distributed"]

  engine:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.engine
    profiles: ["distributed"]

  gps:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.gps
    profiles: ["distributed"]

  imu:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.imu
    profiles: ["distributed"]

  aggregation:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.aggregation
    depends_on:
      - airdata
      - battery
      - engine
      - gps
      - imu
    ports:
      - "50051:50051"
    profiles: ["distributed"]

  analysis:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.analysis
    depends_on:
      - aggregation
    ports:
      - "50052:50052"
    profiles: ["distributed"]

  update:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.update
    depends_on:
      - analysis
    ports:
      - "50054:50054"
    profiles: ["distributed"]

  server:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.server
    depends_on:
      - update
    ports:
      - "50053:50053"
    profiles: ["distributed"]

  # -------- MONOLITH VERSION --------
  monolith:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.monolith
    ports:
      - "50053:50053"
    profiles: ["monolith"]

  client:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.client
    stdin_open: true
    tty: true